@if (showRefresh()) {
	<button class="refresh-button" matMiniFab (click)="refresh()" [disabled]="refreshBlocked()">
		<mat-icon>refresh</mat-icon>
	</button>
}
@if (asyncDataService().isLoading()) {
	<div class="progress-bar-container">
		<mat-progress-bar mode="indeterminate"></mat-progress-bar>
	</div>
}

@let wrappedData = wrappedSwitchData();
@switch (wrappedData.type) {
	@case ('undefined') {
		<span>...loading...</span>
	}
	@case ('error') {
		<span
			>Es gibt ein Problem mit der Serververbindung, bitte warten sie ein paar minuten und nutzen
			die Refresh-Funktion des Widgets.</span
		>
	}
	@case ('data') {
		<ng-container *ngTemplateOutlet="contentTemplate(); context: { data: wrappedData.value }" />
	}
	<!-- For some reason prettier removes the never(), therefore: -->
	<!-- prettier-ignore  -->
	@default never(wrappedData);
}
